textarea {
    min-height: 400px;
}

.email_container {
    margin: 5px;
    padding: 8px;
    border: solid 1.5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex: row;
}

.email_read {
    background-color: rgb(189, 189, 189);
}

.email_body {
    font-size: 18px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
}